.vjs-control {
  display: none !important;
}

.vjs-time-control {
  display: none !important;
}

.HasNoRecordedData {
  .vjs-control-bar {
    display: none !important;
  }
}

.vjs-play-control.vjs-control.vjs-button {
  display: block !important;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}

.my-video-js {
  width: 100%;
  height: 320px;
  background-color: #f1f1f1!important;
}

.VideoRecorderWidget {
  .VideoPlayerWrapper {
    margin-top: 16px;
  }

  .ButtonWrapper {
    margin-top: 16px;
    margin-left: 4px;
    margin-right: 4px;
  }
}
