.VideoElement {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  box-shadow: 5px 5px 25px rgba(179, 179, 179, 0.25);
  border-radius: 5px;
  padding: 10px;
  background-color: #FFFFFF;

  video {
    width: 100%;
    min-width: 270px;
    height: auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f1f1;
  }

  .Details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 0;
  }

  .SelectedCandidate {
    display: flex;
    align-items: center;
    color: #5E77FF;
    padding: 10px;
    letter-spacing: 1px;
    font-weight: bold;

    .Tick {
      margin-left: 10px;
      width: 15px;
    }
  }
}

.UpperCase {
  text-transform: uppercase;
}
